:root {
   --black: #323031;
   --darkBlue: #14213d;
   --lightOrange: #fca311;
   --lightGray: #e5e5e5;
   --white: #ffffff;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   font-family: 'Open Sans', sans-serif;
}

body {
   font-size: 1.6rem;
   color: var(--black);
}

img {
   width: 100%;
   max-width: 100vw;
}
